{% load overcast_tags cache compress static wagtailuserbar wagtailimages_tags static %}<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_postfix %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">


        <link rel="shortcut icon" href="{% static "overcast/images/favicon.ico" %}" />

        {% compress css %}
            <link rel="stylesheet" href="{% static "overcast/css/main.css" %}">
        {% endcompress %}

        {% block extra_css %}{% endblock %} {# Override this block in individual templates in order to add stylesheets on a template by template basis #}


    </head>
    <body class="page-{{ self|content_type }} title-{{ self.title|slugify }} pageid-{{ self.id }} {% block body_class %}{% endblock %}">

        {% wagtailuserbar %} {# Don't delete this #}

        <header class="container">
            {% block menu %}
                {% top_menu calling_page=self %}
            {% endblock %}
        </header>

        <main>{% block content %}{% endblock %}</main>

        <footer class="clearfix">

        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        {% compress js %}
            <script src="{% static "overcast/js/main.js" %}"></script>
        {% endcompress %}

        {% block extra_js %}{% endblock %} {# Override this block in individual templates in order to add javascript on a template by template basis #}
    </body>
</html>
