{% if not value.in_grid_block %}
    </div>
</div>
{% endif %}

<div class="row">
    {% if value.in_grid_block %}
        <div class="col-xs-12 {{value.extra_classes}}">
    {% else %}
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3 {{value.extra_classes}}">
    {% endif %}
        <blockquote class="pull-quote">
            <p>{{ value.quote }}</p>
            {% if value.attribution %}
                <cite> – {{ value.attribution }}</cite>
            {% endif %}
        </blockquote>
    </div>
</div>

{% if not value.in_grid_block %}
<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-push-1">
{% endif %}
